<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <%= stylesheet_link_tag 'homes', media: 'all' %>
    </head>

  <body>
    <h1 class = "toptitle">ようこそ<strong> Bookers</strong> へ！</h1>
    <p class = "topp"><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
    <p class = "topp">印象を共有し交換することができます</p>
    <p class ="topp"><a href="/books">start</a></p>
  </body>

</html>



